export(solve_general_sde)
export(solve_implicit_sde)
export(solve_implicit_sde_averages)
export(synthetic.dataset)
exportPattern("^[[:alpha:]]+")
import(data.table)
import(plyr)
import(timetablr)
importFrom(Rcpp,evalCpp)
useDynLib(SimpleSDESampler)
