export(examples.lpsys.lorenz)
export(lpoly_implicit_sde)
export(lpoly_implicit_sde_averages)
export(lpoly_make_system)
export(lpoly_model_matrix)
export(lpoly_model_spec)
export(lpoly_random_dynamic)
export(solve_general_sde)
export(solve_implicit_sde)
export(solve_implicit_sde_averages)
export(synthetic.dataset)
export(synthetic.dataset.quick)
