export(lpoly_compute_jacobian)
export(lpoly_examples_lorenz)
export(lpoly_guess_steplength_linear)
export(lpoly_guess_steplength_sample)
export(lpoly_make_system_xptr)
export(lpoly_model_matrix)
export(lpoly_model_spec)
export(lpoly_random_dynamic)
export(lpoly_sde)
export(lpoly_sde_averages)
export(lpoly_sde_precached)
export(solve_general_sde)
export(solve_implicit_sde)
export(solve_implicit_sde_averages)
export(synthetic.dataset)
export(synthetic.dataset.quick)
exportPattern("^[[:alpha:]]+")
import(data.table)
import(plyr)
import(timetablr)
importFrom(Rcpp,evalCpp)
